#main {
  margin: 20px 90px;
}

.likes-quantity {
  color: #901C1C;
  font-weight: bold;
  font-size: 24px; /* Taille de police pour like-quantity */
  margin-right: 7px;
}

.box {
  background: #FAFAFA;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
}

#contact-button {
  height: 69px;
  flex-shrink: 0;
  background: #901C1C;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 30px;
  cursor: pointer;
}

#contact-button:hover {
  background: #DB8876;
  color: black;
}

.boxLike {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantityHeart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-button .likeheart {
  width: 60%;
  height: 60%;
}

.box_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box_img img,
.box_img video {
  width: 400px; /* Taille par défaut pour les grandes tailles d'écran */
  height: 400px;
  margin: 2px;
  object-fit: cover;
}

#bloc_title_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_img,
.title_video {
  color: #901C1C;
  font-weight: bold;
  font-size: 1.3em;
  margin-top: 10px;
}

.like-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bloc_title_video {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay-visible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: 1000; /* Ajustez le z-index selon vos besoins */
}

.box p {
  margin-left: 0;
}

@media only screen and (max-width: 1024px) {
  .box {
    text-align: center;
    display: flex;
    flex-direction: column-reverse; /* Inverser l'ordre des éléments */
    padding: 20px; /* Réduire l'espacement pour les petits écrans */
    align-items: center;
  }

  .box .box_img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .box_img img,
  .box_img video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    justify-content: space-around;
  }

  .box h1 {
    margin: 10px 0; /* Espacement du titre */
  }
}

/* Style par défaut pour les boutons de cœur */
button #contact-button {
  width: 80%;
  border: none;
  background: none;
  font-size: 1.2em;
  color: rgb(135, 106, 106); /* Contour rouge */
  cursor: pointer;
}

#heart_size {
  width: 30%;
  height: 30%;
}

.like-button {
  color: darkred;
  background-color: none;
  display: inline-block;
  font-size: 24px; /* Taille du cœur */
  margin-left: 0;
  padding: 0;
}

.like-button.clicked {
  color: darkred; /* Rouge bordeaux */
}



/* Dropdown */
.sort {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

nav a {
  color: white;
  background-color: darkred;
  text-decoration: none;
  margin-left: 20px;
}

nav > ul {
  margin: 0 auto;
  width: 80px;
}

nav ul li {
  display: block;
  float: left;
  margin: 0 -50px;
  position: relative;
}

nav ul a {
  display: block;
  float: left;
  width: 150px;
  padding: 10px 20px;
}

nav ul a:hover {
  background: #DB8876;
}

nav ul li ul li {
  float: none;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 42px;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li a {
  display: block;
}

.gfg {
  font-size: 40px;
  font-weight: bold;
  color: #009900;
  text-align: center;
}

p {
  font-size: 20px;
  font-weight: bold;
}

/* HEART */


.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.dropbtn {
  background-color: darkred;
  display: flex;
  color: white;
  padding: 16px;
  font-size: 16px;
  margin-left: 0px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 150px;
}

.dropbtn img {
  transform: rotate(0deg);
  margin-left: 40px;
}

.dropbtn img:hover {
  transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkred;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
  margin-top: -16px;
}

.dropdown-content ul {
  list-style-type: none;
  padding: 0;
  margin-left: 38px;
  margin-bottom: 0;
}

.dropdown-content li {
  border-top: 1px solid #ffffff; /* Bordure entre les éléments */
}

.dropdown-content a {
  color: white;
  padding: 12px 0;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #DB8876;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: darkred;
}

.dropbtn a {
  margin-left: -8px;
}

img .heartLike {
  width: 20%;
}
/********************************HEART LIKE ****************************/
.heart {
  position: relative;
  width: 0.6em; /* Taille réduite */
  height: 0.6em; /* Garder les proportions */
  background-color: darkred;
  transform: rotate(-45deg);
  margin: 10px;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 0.6em; /* Taille réduite */
  height: 0.6em; /* Taille réduite */
  background-color: darkred;
  border-radius: 50%;
}

.heart::before {
  top: -0.3em; /* Ajuster pour centrer le cœur correctement */
  left: 0;
}

.heart::after {
  top: 0;
  left: 0.3em; /* Ajuster pour centrer le cœur correctement */
}



