


body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
   
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0;
 
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    margin-bottom: 10px;
}
.city{
    color: #D3573C;
    margin: 0;
    line-height: 1.5; 
}
.tagline{

    margin: 0;
    font-size: 12px;
}
 .country, .tagline {
   
    margin: 0;
   
}
.price{
    color: #afafaf;
    margin: 0;
    font-size: 12px;
}

.contact-box {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Centering trick */
    z-index: 20;
    width: 30%;
    max-width: 600px; /* Example: Set a max-width to prevent it from becoming too wide on larger screens */
    padding: 0 20px 20px;
    background: #DB8876;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
}

.contact-box .form-group{
    display: flex;
    flex-direction:column;
    margin: 10px 20px;
}

.contact-box button {
     font-size: 10px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 90px;
    height: 50px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 20px;
}
.contact-box button:hover {
     
    background-color: #c67866;
    color: black
}
.contact-box .title{
     margin: auto 20px;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
}
.contact-box input {
    border: none;
    border-radius: 2px;
    height:30px
}

.contact-box textarea {
    border: none;
    border-radius: 2px;
    height:160px
}

#close-form{
    cursor: pointer;
    font-size: 3em;
}

.fixed-right {
    position: fixed;
    bottom: -10px; /* Position depuis le bas de la fenêtre */
    left: 99%; /* Centre horizontalement */
    transform: translateX(-90%); /* Centre horizontalement avec translate */
    background-color: #DB8876;
    border-radius: 10px;
    
}
@media only screen and (max-width: 768px) {
  .box_img{
    margin-bottom:60px ;
  }
  #main{
    margin: 20px;
  }
    .fixed-right {
        position: fixed;
        bottom: -20px; /* Position depuis le bas de la fenêtre */
    left: 50%; /* Centre horizontalement */
        transform: translateX(-50%);
       
        background-color: #DB8876;
        border-radius: 10px;
        color: black;
        text-align: center;
    }
}

.fixed-right .rectangle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    width: 14em;
    border-radius: 10px;
    background-color: #DB8876;
    padding: 10px;
    color: black;
    text-align: center;
}
.rectangle p {
  display: flex;
  
  flex-direction: row;
}

.carousel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.carousel {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.carousel-content {
  position: relative;
}

.carousel-image {
  width: 100%;
  max-height: 80vh;
  display: none;
}

.carousel-prev,
.carousel-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px; /* Ajustez le padding pour agrandir la taille de la zone cliquable */
  margin-top: -18px; /* Ajustez pour centrer la flèche verticalement */
  color: darkred;
  font-weight: bold;
  font-size: 50px; /* Augmentez la taille de la police */
  transition: 0.6s ease;
  user-select: none;
  z-index: 10;
}

.carousel-prev {
  left: -10%; /* Ajustement négatif pour décaler légèrement à gauche */
}

.carousel-next {
  right: -10%; /* Ajustement négatif pour décaler légèrement à droite */
}


button {
  background-color: none;
 margin-left: 4px;
  flex-shrink: 0;
  background: white;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  box-shadow: 30px;
  cursor: pointer;
}


.carousel-close {
  position: absolute;

  top: -35px;
  right: -80px;
  color: darkred;
  font-size: 90px;
  font-weight: bold;
  cursor: pointer;
  background: none; /* Fond semi-transparent */
  padding: 10px; /* Espace autour de la croix */
  border-radius: 50%; /* Rend la croix circulaire */
  border: none; /* Pas de bordure */
  z-index: 100; /* Place la croix au-dessus du contenu */
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
}

.carousel {
  position: relative; /* Assurez-vous que le conteneur du carrousel a une position relative */
}


.carousel-media {
  width: 700px; 
  height: 700px;
  object-fit: cover; 
}

   
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    margin-bottom: 80px;
}

@media only screen and (max-width: 768px) {
    .photographer_section {
        grid-template-columns: 1fr;
        gap: 20px; 
        margin-top: 50px;
        margin-bottom: 40px;
      
    }
}

@media only screen and (max-width: 768px) {
   header {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
header .logo{
    margin-top: 3em;
    margin-left: 0px;

}
header h1{
  font-size: 24px;
  text-align: center;
  margin-right: 0px;
}
}
@media only screen and (max-width: 768px) {
  .contact-box{
    width: 80%;
    max-width: 400px;
    padding: 0 10px 10px;
 
  }
}



@media only screen and (max-width: 768px) {
  .carousel {
    max-width: 90%; /* Ajustez la largeur maximale pour les petits écrans */
    max-height: 90vh; /* Ajustez la hauteur maximale pour les petits écrans */
  }

  .carousel-prev,
  .carousel-next {
    font-size: 14px; /* Réduisez la taille de la police pour les flèches sur les petits écrans */
  }
}


/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: darkred;
    display: flex;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.dropbtn::after {
    content: '\25BC'; /* Down arrow */
    font-size: 12px;
    margin-left: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkred;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    margin-top: 0;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-top: 1px solid #ffffff;
}

.dropdown-content a:first-child {
    border-top: none;
}

.dropdown-content a:hover {
    background-color: #DB8876;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn::after {
    content: '\25B2'; /* Up arrow */
}
.body-white {
  background-color: white; /* Couleur de fond blanc */
  overflow-y: hidden; /* Empêche le défilement vertical lorsque le formulaire est ouvert */
}
.carousel-title{
  color: #901C1C;
}